.navbar-nav a {
    color: white !important;
}

.navbar-nav a:hover {
    text-decoration: underline;
}

.navbar-brand {
    font-size: 1.65em;
    font-weight: bold;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll !important; 

    color: #197e90;
}

main {
    width: 80%;
    margin: 2em auto 2em auto;
    flex: 1;
}

footer {
    color: white;
    background-color: #007BFF;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}

.item {
    flex: 1;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}

@media (max-width: 767px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1149px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1150px) and (max-width: 1439px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1440px) and (max-width: 1599px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1600px) {
    .container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 992px) {
    .custom-div-lg-border-right {
      border-right: 1px solid #ddd;
    }
  }

 
  .muted-text {
    padding: 1.5% 10% 3% 3%;
    color: #9aa4ac;
  }

  @media (max-width: 767px) {
    .muted-text {
        padding: 1.5% 10% 6% 5%;
      }
}

  .muted-text:hover {
    color: #197e90;
    
  }

  .ownarts {
    background-color: #d1ecf1;
  }

 .doctext {
    color: #218fa2;

 }

 .divA, .divB {
    box-sizing: border-box;
  }
  
   
  .divB {
    display: flex;
    align-items: center;
    justify-content: left; /* Updated for right alignment */
    padding-top: 3%;
    
  }
  
  @media screen and (min-width: 1185px) {
    .sort {
      display: flex;
      width: 100%;
    }
  
    .divA, .divB {
      flex: 1;
    }
  
    .divB {
      order: 2;
      justify-content: right;
      padding-top: 0;
    }
  }

  
.emoji {
    font-size: 12em;
}

@media (min-width: 992px) {
    .emoji:hover {
    font-size: 16em;
}
  }

.back {
font-size: 1.2em;
}

.back:hover {
text-decoration: none;
}

/* Custom CSS for square card */
        .square-card {
            width: 30%;
            /* Set a fixed width for the card */
            height: 30%;
            /* Set a fixed height for the card */
        }

        .square-card img {
            width: auto;
            height: 100%;
            object-fit: cover;
        }

        .expand-modal img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }


.square-aspect-ratio {
    width: 100%; /* Set the width of the container */
    position: relative;
}

.square-aspect-ratio::before {
    content: ""; /* Create an empty pseudo-element */
    padding-top: 100%; /* Set the padding based on a 1:1 aspect ratio (height:width) */
    display: block;
}

.square-aspect-ratio img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container while maintaining its aspect ratio */
}